<html>
<div class="widget-class" id=<%=widP.u_widget.ind %>>
  <h2>Inbox</h2>
  <table class="table">
    <thead class="thead-light">
      <th scope="col">From</th>
      <th scope="col">Subject</th>
      <th scope="col">Received</th>
    </thead>
    <tbody>
    </tbody>
  </table>
  <script>
    $(function () {
      var idP = '<%= widP.u_widget.ind %>'
      var email = '<%= (userP.office_acc.email ? userP.office_acc.email : "") %>'
      var limitP = '<%= (widP.u_widget.params.limit ? widP.u_widget.params.limit : 10) %>'
      var timerP = '<%= (widP.u_widget.params.timer ? widP.u_widget.params.timer : 999) %>'

      function getmails(limitP) {
        $("#" + idP + " > table > tbody").html("")
        $.post("/auth/outlook/get_mail", {
          limit: limitP
        }, function (mailist) {
          mailist.forEach(mail => {
            $("#" + idP + " > table > tbody").append("<tr><td><a target='_blank' href=" + mail.WebLink + ">" + mail.Subject + "</a></td>\
              <td>" + mail.ReceivedDateTime.toString() + "</td>\
              <td>" + mail.From.EmailAddress.Name + "</td></tr>")
          });
        });
      }
      getmails(limitP)
      setInterval(getmails, timerP * 60000 * 60, limitP);
    });
  </script>
</div>

</html>
